[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_address }}/{{ wireguard_subnet }}
ListenPort = {{ wireguard_port }}
{% if wireguard_postup is defined %}
{% for wg_postup in wireguard_postup %}
PostUp = {{ wg_postup }}
{% endfor %}
{% endif %}
{% if wireguard_postdown is defined %}
{% for wg_postdown in wireguard_postdown %}
PostDown = {{ wg_postdown }}
{% endfor %}
{% endif %}

{% if group_destinations is defined %}
{% for destination_group in group_destinations.keys() %}
{%   for host in groups[destination_group] %}
[Peer]
PublicKey = {{ hostvars[host].wireguard_fact_public_key }}
AllowedIps = {{ group_destinations[destination_group] | join(', ') }}
Endpoint = {{ hostvars[host].ansible_host }}:{{ wireguard_port }}

{% if allowed_groups is defined %}
{%   for allowed_group in allowed_groups %}
{%     for allowed_host in groups[allowed_group] %}
[Peer]
PublicKey = {{ hostvars[allowed_host].wireguard_fact_public_key }}
AllowedIps = {{ hostvars[allowed_host].wireguard_address }}/{{ hostvars[allowed_host].wireguard_subnet }}
Endpoint = {{ hostvars[host].ansible_host }}:{{ wireguard_port }}
{%     endfor %}
{%   endfor %}
{% endif %}

{%   endfor %}
{% endfor %}
{% endif %}

{% if allowed_groups is defined and group_destinations is not defined %}
{%   for allowed_group in allowed_groups %}
{%     for allowed_host in groups[allowed_group] %}
[Peer]
PublicKey = {{ hostvars[allowed_host].wireguard_fact_public_key }}
AllowedIps = {{ hostvars[allowed_host].wireguard_address }}/{{ hostvars[allowed_host].wireguard_subnet }}
{%     endfor %}
{%   endfor %}
{% endif %}
